USE [master]
GO
/****** Object:  Database [StockMS_BD]    Script Date: 5/20/2018 12:26:28 PM ******/
CREATE DATABASE [StockMS_BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StockManagementBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\StockManagementBD.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StockManagementBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\StockManagementBD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockMS_BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockMS_BD]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/20/2018 12:26:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Company_tb]    Script Date: 5/20/2018 12:26:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company_tb](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Company_tb_1] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Item_tb]    Script Date: 5/20/2018 12:26:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Item_tb](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](100) NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
 CONSTRAINT [PK_Item_tb] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StockIn_tb]    Script Date: 5/20/2018 12:26:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockIn_tb](
	[StockInId] [int] IDENTITY(1,1) NOT NULL,
	[StockInQuantity] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
 CONSTRAINT [PK_StockIn_tb] PRIMARY KEY CLUSTERED 
(
	[StockInId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StockOut_tb]    Script Date: 5/20/2018 12:26:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StockOut_tb](
	[StockOutId] [int] IDENTITY(1,1) NOT NULL,
	[StockOutQuantity] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[ItemId] [int] NOT NULL,
 CONSTRAINT [PK_Sell_tb] PRIMARY KEY CLUSTERED 
(
	[StockOutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[Total]    Script Date: 5/20/2018 12:26:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Total] AS
SELECT ItemId, SUM(StockInQuantity) AS total_Quantity
FROM StockIn_tb
WHERE ItemId IS NOT NULL
GROUP BY ItemId ;


GO
/****** Object:  View [dbo].[StockInVW]    Script Date: 5/20/2018 12:26:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[StockInVW] AS
SELECT (SELECT i.ItemId FROM Item_tb AS i INNER JOIN Total AS t ON i.ItemId = t.ItemId) AS ItemId,
(SELECT i.ReorderLevel FROM Item_tb AS i INNER JOIN Total AS t ON i.ItemId = t.ItemId) AS ReorderLevel,
(SELECT t.total_Quantity FROM Total AS t INNER JOIN Item_tb AS i ON i.ItemId = t.ItemId) AS Total 
GO
/****** Object:  View [dbo].[Total_StockOut]    Script Date: 5/20/2018 12:26:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Total_StockOut] AS 
SELECT  ItemId, SUM(StockOutQuantity) AS StockOutQuantity
FROM StockOut_tb
GROUP BY ItemId
;

GO
/****** Object:  View [dbo].[DummyTotalStockInOutVW]    Script Date: 5/20/2018 12:26:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DummyTotalStockInOutVW] AS
SELECT T.ItemId,T.total_Quantity,ISNULL(TS.StockOutQuantity,0) AS StockOutQuantity FROM Total AS T
LEFT JOIN Total_StockOut AS TS ON T.ItemId = TS.ItemId
GO
/****** Object:  View [dbo].[DummyAvailableQuantity]    Script Date: 5/20/2018 12:26:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DummyAvailableQuantity] AS 
SELECT ItemId,(total_Quantity-StockOutQuantity) AS AvailableQuantity FROM DummyTotalStockInOutVW
GO
USE [master]
GO
